.mat-toolbar {
  background: transparent;
  color: white;
}
.mat-raised-button {
  margin-left: 10px;
}

.transparent {
    background: rgba(255,255,255,0.5);
}
.spacer {
  flex: 1 1 auto;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: lightblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}