.mat-dialog-content {
    text-align: center;
}
.mat-raised-button {
  margin-top: 10px;
  width: 145px;
}
.leftButton {
  margin-right: 10px;    
}
.Width250 {
    width: 220px;
}
.Width310 {
    width: 296px;
}
.Width470 {
    width: 450px;
}
.Width600 {
    width: 602px;
}
.leftFormField{
    margin-right:10px;
}
.Danger {
    color: red;
}

