<mat-dialog-content>
    <mat-icon color="warn">remove_circle</mat-icon>
    <mat-divider></mat-divider><br>
    <h3>Ben je zeker?</h3>
    <p>Wil je {{ getDescription() }} <b>{{ getIdentification() }}</b> echt verwijderen?</p>
    <p>Deze bewerking zal niet meer ongedaan gemaakt kunnen worden.</p>
    <mat-divider></mat-divider><br>
    <button mat-raised-button color="warn" class="leftButton" (click)="verwijderen()">
      Verwijderen
    </button>
    <button mat-raised-button color="primary" (click)="sluiten()">
        Annuleren
    </button>

</mat-dialog-content>
