<h1>
    Voertuigen 
    <button mat-button>
        <mat-icon matTooltip="Nieuw voertuig toevoegen" (click) = "createVoertuig(newVoertuig())">
            add_circle_outline
        </mat-icon>
    </button>
</h1>

<mat-form-field id="filMerk" class="whiteInput" appearance="fill">
    <mat-label>Merk</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeMerk" name="filMerk">
</mat-form-field>
<mat-form-field id="filModel" class="whiteInput" appearance="fill">
    <mat-label>Model</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeModel" name="filModel">
</mat-form-field>
<mat-form-field id="filChassisNummer" class="whiteInput" appearance="fill">
    <mat-label>Chassisnummer</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeChassisNummer" name="filChassisNummer">
</mat-form-field>
<mat-form-field id="filNummerplaat" class="whiteInput" appearance="fill">
    <mat-label>Nummerplaat</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeNummerplaat" name="filNummerplaat">
</mat-form-field>
<mat-form-field id="filBrandstoftype" class="whiteInput" appearance="fill">
    <mat-label>Brandstof</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeBrandstoftype" name="filBrandstoftype">
</mat-form-field>
<mat-form-field id="filTypeWagen" class="whiteInput" appearance="fill">
    <mat-label>Type wagen</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeTypeWagen" name="filTypeWagen">
</mat-form-field>
<mat-form-field id="filKleur" class="whiteInput" appearance="fill">
    <mat-label>Kleur</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeKleur" name="filKleur">
</mat-form-field>
<mat-form-field id="filAantalDeuren" class="whiteInput" appearance="fill">
    <mat-label>Aantal Deuren</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeAantalDeuren" name="filAantalDeuren">
</mat-form-field>
<mat-form-field id="filBestuurder" class="whiteInput" appearance="fill">
    <mat-label>Bestuurder</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filVoertuig.voeBestuurder" name="filBestuurder">
</mat-form-field>
<hr>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="voeMerk">
    <th mat-header-cell *matHeaderCellDef> Merk </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeMerk}} </td>
  </ng-container>

  <ng-container matColumnDef="voeModel">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeModel}} </td>
  </ng-container>

  <ng-container matColumnDef="voeChassisNummer">
    <th mat-header-cell *matHeaderCellDef> Chassisnummer </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeChassisNummer}} </td>
  </ng-container>
  <ng-container matColumnDef="voeNummerplaat">
    <th mat-header-cell *matHeaderCellDef> Nummeplaat </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeNummerplaat}} </td>
  </ng-container>
  <ng-container matColumnDef="voeBrandstoftype">
    <th mat-header-cell *matHeaderCellDef> Brandstof </th>
    <td mat-cell *matCellDef="let voertuig"> {{getBrandstof(voertuig.voeBrandstoftype)}} </td>
  </ng-container>
  <ng-container matColumnDef="voeTypeWagen">
    <th mat-header-cell *matHeaderCellDef> Type wagen </th>
    <td mat-cell *matCellDef="let voertuig"> {{getVoertuigType(voertuig.voeTypeWagen)}} </td>
  </ng-container>
  <ng-container matColumnDef="voeKleur">
    <th mat-header-cell *matHeaderCellDef> Kleur </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeKleur}} </td>
  </ng-container>
  <ng-container matColumnDef="voeAantalDeuren">
    <th mat-header-cell *matHeaderCellDef> Aantal Deuren </th>
    <td mat-cell *matCellDef="let voertuig"> {{voertuig.voeAantalDeuren}} </td>
  </ng-container>
  <ng-container matColumnDef="voeBestuurder">
    <th mat-header-cell *matHeaderCellDef> Bestuurder </th>
    <td mat-cell *matCellDef="let voertuig"> {{getBestuurder(voertuig.voeBestuurder)}} </td>
  </ng-container>
   <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let voertuig" class="action-link"> 
          <button mat-button><mat-icon  matTooltip="Gegevens voertuig wijzigen" (click) = "editVoertuig(voertuig)">edit</mat-icon></button>
          <button mat-button><mat-icon  matTooltip="Dir voertuig verwijderen" (click) = "confirmDelete(voertuig)">delete</mat-icon></button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr></table>
