#login {
    width: 300px;
    text-align: center;
}
.Width300 {
    width: 300px;
}
.left {
    text-align: left;
}
.mat-raised-button {
  margin-top: 10px;
  width: 145px;
}

.loginButton {
  margin-right: 10px;    
}
.inputs {
  background: rgba(255,255,255,0.5);
}
