<div id="login">
<h1>Fleet Management</h1>
  <img src="assets/Images/BMW 143-Kombibild_ElectricFleet.jpg" alt="BMW Fleet" width="300"><br>
  <div class="inputs">
    <mat-form-field class="Width300" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="text" class="form-control" id="login" required [(ngModel)]="model.gebLogin" name="gebLogin">
    </mat-form-field>
    <mat-form-field class="Width300" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" class="form-control" id="password" required [(ngModel)]="model.gebPassword" name="gebPassword">
    </mat-form-field>
  </div>    
  <button mat-raised-button class="loginButton" color="primary" (click)="logIn()">Log In</button>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" (click)="wis()">Wissen</button>
</div>
  