  <h1>Fleet Management</h1>
  <img src="assets/Images/BMW 143-Kombibild_ElectricFleet.jpg" alt="BMW Fleet" width="300"><br>
  <form method="post">
    <table width="300">
	<tr>
	  <td>
             <label for="login">Login:</label><br>
             <input type="text" id="login" name="login"><br>
             <label for="pwd">Password:</label><br>
             <input type="password" id="pwd" name="pwd">
          </td>
          <td align="right">
	     <BR><input type="submit" value="Submit"><BR><BR>
  	     <input type="reset" value="Reset">
	  </td>
        </tr>
     </table>
  </form>
