<h1>
    Bestuurders 
    <button mat-button>
        <mat-icon matTooltip="Nieuwe bestuurder toevoegen" (click) = "createBestuurder(newBestuurder())">
            add_circle_outline
        </mat-icon>
    </button>
</h1>
<mat-form-field id="filVoornaam" class="whiteInput" appearance="fill">
    <mat-label>Voornaam</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besVoornaam" name="filVoornaam">
</mat-form-field>
<mat-form-field id="filNaam" class="whiteInput" appearance="fill">
    <mat-label>Naam</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besVoornaam" name="filNaam">
</mat-form-field>
<mat-form-field id="filAdres" class="whiteInput" appearance="fill">
    <mat-label>Adres</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besStraatNr" name="filPostcode">
</mat-form-field>
<mat-form-field id="filPostcode" class="whiteInput" appearance="fill">
    <mat-label>Postcode</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besPostcode" name="login">
</mat-form-field>
<mat-form-field id="filGemeente" class="whiteInput" appearance="fill">
    <mat-label>Gemeente</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besGemeente" name="filGemeente">
</mat-form-field>
<mat-form-field id="filLand" class="whiteInput" appearance="fill">
    <mat-label>Land</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besLand" name="filLand">
</mat-form-field>
<mat-form-field id="filGeboortedatum" class="whiteInput" appearance="fill">
    <mat-label>Geboortedatum</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besGeboortedatum" name="filGeboortedatum">
</mat-form-field>
<mat-form-field id="filRijksregisternummer" class="whiteInput" appearance="fill">
    <mat-label>Rijksregisternummer</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besRijksregisterNr" name="filRijksregisternummer">
</mat-form-field>
<mat-form-field id="filRijbewijs" class="whiteInput" appearance="fill">
    <mat-label>Rijbewijs</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besRijbewijs" name="filRijbewijs">
</mat-form-field>
<mat-form-field  id="filVoertuig" class="whiteInput" appearance="fill">
    <mat-label>Voertuig</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besVoertuig" name="filVoertuig">
</mat-form-field>
<mat-form-field id="filTankkaart" class="whiteInput" appearance="fill">
    <mat-label>Tankkaart</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filBestuurder.besTankkaart" name="filTankkaart">
</mat-form-field>
<hr>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="besVoornaam">
    <th mat-header-cell *matHeaderCellDef> Voornaam </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besVoornaam}} </td>
  </ng-container>

  <ng-container matColumnDef="besNaam">
    <th mat-header-cell *matHeaderCellDef> Naam </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besNaam}} </td>
  </ng-container>

  <ng-container matColumnDef="besStraatNr">
    <th mat-header-cell *matHeaderCellDef> Adres </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besStraatNr}} </td>
  </ng-container>
  <ng-container matColumnDef="besPostcode">
    <th mat-header-cell *matHeaderCellDef> Postcode </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besPostcode}} </td>
  </ng-container>
  <ng-container matColumnDef="besGemeente">
    <th mat-header-cell *matHeaderCellDef> Gemeente </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besGemeente}} </td>
  </ng-container>
  <ng-container matColumnDef="besLand">
    <th mat-header-cell *matHeaderCellDef> Land </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besLand}} </td>
  </ng-container>
  <ng-container matColumnDef="besGeboortedatum">
    <th mat-header-cell *matHeaderCellDef> Geboortedatum </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besGeboortedatum}} </td>
  </ng-container>
  <ng-container matColumnDef="besRijksregisterNr">
    <th mat-header-cell *matHeaderCellDef> Rijksregisternummer </th>
    <td mat-cell *matCellDef="let bestuurder"> {{bestuurder.besRijksregisterNr}} </td>
  </ng-container>
  <ng-container matColumnDef="rijbewijs">
    <th mat-header-cell *matHeaderCellDef> Rijbewijs </th>
    <td mat-cell *matCellDef="let bestuurder"> {{getRijbewijs(bestuurder.besRijbewijs)}} </td>
  </ng-container>
  <ng-container matColumnDef="voertuig">
    <th mat-header-cell *matHeaderCellDef> Voertuig </th>
    <td mat-cell *matCellDef="let bestuurder"> {{getVoertuig(bestuurder.besVoertuig)}} </td>
  </ng-container>
  <ng-container matColumnDef="tankkaart">
    <th mat-header-cell *matHeaderCellDef> Tankkaart </th>
    <td mat-cell *matCellDef="let bestuurder"> {{getTankkaart(bestuurder.besTankkaart)}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let bestuurder" class="action-link"> 
          <button mat-button><mat-icon  matTooltip="Gegevens bestuurder wijzigen" (click) = "editBestuurder(bestuurder)">edit</mat-icon></button>
          <button mat-button><mat-icon  matTooltip="Deze bestuurder verwijderen" (click) = "confirmDelete(bestuurder)">delete</mat-icon></button>
      </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr></table>
