<!DOCTYPE html>
<style>
#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: calc(100vh - 128px);
}
</style>
<html>
<body>

<div id="header">
  <img src="assets/Images/v8-01-mobile-e1593603759502.png" alt="AllPhi Logo"><br>
</div>
<div id="container">
  <app-login></app-login>
</div>
</body>
</html>
