<!DOCTYPE html>
<style>
#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: calc(100vh - 128px);
}
</style>
<html>
<body>

<div id="header">
  <img src="assets/Images/v8-01-mobile-e1593603759502.png" alt="AllPhi Logo"><br>
</div>
<div id="container">
  <h1>Fleet Management</h1>
  <img src="assets/Images/BMW 143-Kombibild_ElectricFleet.jpg" alt="BMW Fleet" width="300"><br>
  <form method="post">
    <table width="300">
	<tr>
	  <td>
             <label for="login">Login:</label><br>
             <input type="text" id="login" name="login"><br>
             <label for="pwd">Password:</label><br>
             <input type="password" id="pwd" name="pwd">
          </td>
          <td align="right">
	     <BR><input type="submit" value="Submit"><BR><BR>
  	     <input type="reset" value="Reset">
	  </td>
        </tr>
     </table>
  </form>
</div>
</body>
</html>
