/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body {
    background-image: url('assets/Images/Fabrizio-e1592571087544.jpg');
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    min-height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
