<h1>
    Tankkaarten 
    <button mat-button>
        <mat-icon matTooltip="Nieuwe tankaart toevoegen" (click) = "editTankkaart(newTankkaart())">
            add_circle_outline
        </mat-icon>
    </button>
</h1>
<mat-form-field id="filKaartnummer" class="whiteInput" appearance="fill">
    <mat-label>Kaartnummer</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filTankkaart.tanKaartnummer" name="filKaartnummer">
</mat-form-field>
<mat-form-field id="filGeldigheidsdatum" class="whiteInput" appearance="fill">
    <mat-label>Geldig tot</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filTankkaart.tanGeldigheidsdatum" name="filGeldigheidsdatum">
</mat-form-field>
<mat-form-field id="filBestuurder" class="whiteInput" appearance="fill">
    <mat-label>Bestuurder</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filTankkaart.tanBestuurder" name="filBestuurder">
</mat-form-field>
<mat-form-field id="filPincode" class="whiteInput" appearance="fill">
    <mat-label>Pincode</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filTankkaart.tanPincode" name="filPincode">
</mat-form-field>
<mat-form-field id="filGeblokkeerd" class="whiteInput" appearance="fill">
    <mat-label>Geblokkeerd?</mat-label>
    <input matInput type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filTankkaart.tanGeblokkeerd" name="filGeblokkeerd">
</mat-form-field>
<hr>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="tanKaartnummer">
    <th mat-header-cell *matHeaderCellDef> Kaartnummer </th>
    <td mat-cell *matCellDef="let tankkaart"> {{tankkaart.tanKaartnummer}} </td>
  </ng-container>

  <ng-container matColumnDef="tanGeldigheidsdatum">
    <th mat-header-cell *matHeaderCellDef> Geldig tot </th>
    <td mat-cell *matCellDef="let tankkaart"> {{tankkaart.tanGeldigheidsdatum | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="tanPincode">
    <th mat-header-cell *matHeaderCellDef> Pincode </th>
    <td mat-cell *matCellDef="let tankkaart"> {{tankkaart.tanPincode}} </td>
  </ng-container>
  <ng-container matColumnDef="tanBestuurder">
    <th mat-header-cell *matHeaderCellDef> Bestuurder </th>
    <td mat-cell *matCellDef="let tankkaart"> {{ getBestuurder(tankkaart.tanBestuurder) }} </td>
  </ng-container>
  <ng-container matColumnDef="tanGeblokkeerd">
    <th mat-header-cell *matHeaderCellDef> Geblokkeerd? </th>
    <td mat-cell *matCellDef="let tankkaart"> {{( tankkaart.tanGeblokkeerd == 0) ? "Neen" : "Ja" }} </td>
  </ng-container>
   <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let tankkaart" class="action-link"> 
          <button mat-button><mat-icon  matTooltip="Gegevens tankkaart wijzigen" (click) = "editTankkaart(tankkaart)">edit</mat-icon></button>
          <button mat-button><mat-icon  matTooltip="Deze tankkaart verwijderen" (click) = "confirmDelete(tankkaart)">delete</mat-icon></button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr></table>
